{% extends "base.html" %}
{% block content %}
<div>
    <header></header>
</div>
<h1>Delete {{project.title}}</h1>

<div>
  <form action="{% url 'delete_project' pk=project.pk %}" method="POST">
    {% csrf_token %}
    <p>Say it ain't so! Are we really deleting {{ project.title }}?!</p>
    
        <div >
            <div class="col-md-8">
                <img src="{{ project.image.url }}" alt="" width="250">
            </div>

        <div>
      <button type="submit">Yeet!</button>
      <br />
      </div>
      <br/>
    </form>
      <div>
      <a href="{% url 'list_projects' %}">Keep</a>
    </div>
  
</div>
{% endblock %}