
{% load static %}
{% block content %} 
<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">

    <title>update</title>
</head>




<body>

<h1>Alterations</h1>

<div>
  <form action="{% url 'edit_project' pk=project.pk %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
      <button type="submit">Update Project!</button>
      <a href="{% url 'list_projects' %}"><button type="submit">Nevermind!</button></a>
    </div>
  </form>
</div>
</body>
</html>
{% endblock %}
