{% extends "base.html" %}
{% load static %}
{% block content %}


<style>
    header {
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: xx-large;
        background-color: rgba(189, 109, 29, 0.596);

    }
    .body {
        font-family: fantasy;
        background-image:url(static/img/shutterstock_1776238052.jpg);
        background-size: cover;
    }
</style>
<body class="body">
    
<header>

<h2>Hey there, {{request.user}}!  Welcome to Shawna's Knit-Folio!</h2>
</header>

<div>
<span>
    <a href="{% url 'log_out' %}">Peace Out!</a> 
</span>
</div>
<div>
<a href="{% url 'add_project' %}"
class="btn btn-primary">
 Add New
</a>
</div>
<br/>
<br/>
<div class="row">
{% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{{ project.image.url}}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <a href="{{project.patternlnk}}">Link to Pattern</a>
                <p class="card-text">Yarn Used: {{ project.yarn }}</p>
                <p class="card-text">Meters:{{ project.meters }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                class="btn btn-primary">
                 Read More
             </a>
             <a href="{% url 'edit_project' project.pk %}"
             class="btn btn-primary">
              Edit
          </a>

       <a href="{% url 'delete_project' project.pk %}"
       class="btn btn-primary">
       Delete
    </a>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
</body>
{% endblock %}