body {
    background-image:url(../img/shutterstock_1776238052.jpg);
    background-size: cover;
    font-family: fantasy;
}

button {
    background-color: brown;
    width: 200px;
    height: 80px;
    font-size: 160%;
}

form {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}